.icon--youtube:hover {
	background-color: #ff0000;
}

.icon--facebook:hover {
	background-color: #1877f2;
}

.icon--instagram:hover {
	background: linear-gradient(45deg, #ffc900, #d300c5);
}

.icon--discord:hover {
	background-color: #5865f2;
}

.icon--twitter:hover {
	background-color: #1d9bf0;
}
