/* Box sizing rules */
* {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important; } }
body {
  font-family: "Roboto", sans-serif; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

:root {
  /*** Dark theme colors ***/
  /* Primary Colors */
  --clr-primary-light: #5cf13f;
  --clr-primary-main: #3fe544;
  --clr-primary-dark: #37d486;
  /* Secondary Colors */
  --clr-secondary-light: #ff6297;
  --clr-secondary-main: #e62968;
  --clr-secondary-dark: #2bafc7;
  /* Neutral colors */
  --clr-n0: #08020e;
  --clr-n1: #09050d;
  --clr-n2: #091218;
  --clr-n3: #0d2d33;
  --clr-n4: #4d4d4d;
  --clr-n5: #cccccc;
  --clr-n6: #e6e6e6;
  --clr-n7: #f2f2f2;
  --clr-n8: #ffffff;
  --clr-text-1: #ffffff;
  --clr-text-2: rgb(207, 212, 212); }

/* Text properties */
h1,
h2,
h3 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold); }

h2 {
  font-size: 2.5rem;
  font-weight: 800; }

p {
  color: var(--clr-text-2);
  font-size: 1.25rem; }

body {
  position: relative;
  background: var(--color-body-bg);
  background-color: var(--clr-n2);
  color: var(--clr-text-1);
  font-family: "Nunito", sans-serif; }

.btn {
  padding: 0.35rem 1.25rem;
  border: none;
  border-radius: 4rem;
  outline: none;
  background: transparent;
  color: var(--clr-text-1);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer; }

.btn--primary {
  background-color: var(--clr-primary-main);
  color: var(--clr-n1); }

.btn--icon {
  display: flex;
  align-items: center;
  gap: 0.5rem; }
  .btn--icon i {
    font-size: 1.75rem;
    line-height: 0; }

.btn--icon--small i {
  font-size: 1.5rem;
  line-height: 0; }

.header--primary {
  margin-top: 0;
  font-weight: 900; }

.header--secondary {
  margin-bottom: 0.35em;
  color: var(--clr-secondary-main);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 0;
  text-transform: uppercase; }

.navbar {
  z-index: 1;
  position: absolute;
  top: 1rem;
  left: 4rem; }
  .navbar__links {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    list-style: none;
    gap: 2rem; }
    .navbar__links a {
      color: var(--clr-text-2);
      text-decoration: unset; }
      .navbar__links a:hover {
        color: var(--clr-text-1); }

.home-hero {
  display: flex;
  justify-content: space-between;
  min-height: 90vh;
  padding: 2rem;
  background: radial-gradient(circle at 100%, var(--clr-n2), var(--clr-n0) 60%); }
  .home-hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    translate: 0 -10%; }
    .home-hero__content > * {
      width: 100%; }
    .home-hero__content__sub-title {
      color: var(--clr-secondary-main);
      font-size: 1.5rem; }
    .home-hero__content__title {
      font-size: 3.5rem; }
    .home-hero__content__description {
      max-width: 60ch;
      margin-right: auto;
      color: var(--clr-text-2);
      font-size: 1.25rem;
      font-weight: 400; }
    .home-hero__content__action {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      gap: 1rem; }
  .home-hero__image {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; }
    .home-hero__image img {
      display: block;
      width: 100%;
      max-width: 40rem;
      border-radius: 1rem; }
    .home-hero__image::before {
      z-index: -1;
      position: absolute;
      top: -2rem;
      right: -2rem;
      bottom: 2rem;
      left: 2rem;
      border: 1rem solid var(--clr-n1);
      content: ""; }

.about {
  display: flex;
  background: radial-gradient(circle at 100%, var(--clr-n1), var(--clr-n2));
  gap: 2rem; }
  .about__content {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    padding: 4.5rem;
    gap: 5rem; }

.statistics {
  position: relative;
  max-width: 1000px;
  padding: 1.5rem 1rem 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  color: var(--clr-n1);
  text-align: center;
  translate: 0 -50%;
  margin-inline: auto; }
  .statistics__title {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600; }
  .statistics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem; }
    .statistics__list__stat {
      flex: 1; }
      .statistics__list__stat p {
        color: var(--clr-n1);
        font-size: 3rem;
        font-weight: 900;
        line-height: 1.2; }
      .statistics__list__stat h3 {
        font-size: 1.1rem;
        font-weight: 600; }

.timeline {
  list-style: none; }
  .timeline li {
    position: relative;
    font-size: 1.25rem;
    padding-block: 0.25rem; }
    .timeline li span {
      color: var(--clr-text-1); }
    .timeline li::before {
      z-index: 10;
      position: absolute;
      top: 50%;
      left: -2rem;
      width: 0.65rem;
      height: 0.65rem;
      border-radius: 1rem;
      background-color: var(--clr-secondary-light);
      content: "";
      translate: 0 -50%; }
    .timeline li::after {
      position: absolute;
      left: -1.75rem;
      width: 2px;
      background-color: var(--clr-secondary-main);
      content: ""; }
    .timeline li:not(:last-child):not(:first-child)::after {
      top: 0;
      bottom: 0; }
    .timeline li:first-child::after {
      top: 50%;
      bottom: 0; }
    .timeline li:last-child::after {
      top: 0;
      bottom: 50%; }

.timeline-section {
  display: flex;
  padding: 4.5rem;
  background: radial-gradient(circle at 100%, var(--clr-n0) 30%, var(--clr-n1) 100%); }
  .timeline-section__image {
    flex: 1; }
    .timeline-section__image img {
      max-width: 35rem;
      border-radius: 1rem;
      margin-inline: auto; }
  .timeline-section__content {
    flex: 1; }
    .timeline-section__content li {
      color: var(--clr-text-2); }

.videos-container {
  padding: 4.5rem;
  background: radial-gradient(circle at 100%, var(--clr-n1), var(--clr-n2)); }
  .videos-container__description {
    max-width: 70ch;
    margin-bottom: 2rem; }

.video {
  flex: 1;
  width: 400px;
  min-width: 250px;
  overflow: hidden;
  border-bottom: 10px solid var(--clr-secondary-main);
  border-radius: 1rem;
  color: var(--clr-n1); }
  .video__header {
    max-height: 275px;
    overflow: hidden; }
    .video__header img {
      width: 100%;
      height: 275px;
      object-fit: cover;
      scale: 0.75;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      transition: scale 0.2s, translate 0.2s;
      translate: 0 4rem; }
  .video:hover .video__header img {
    scale: 0.9;
    translate: 0 1rem; }
  .video__content {
    position: relative;
    padding: 1.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--clr-n8); }
    .video__content::before {
      z-index: 1;
      position: absolute;
      top: -0.74rem;
      right: 0;
      left: 0;
      height: 0.75rem;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      background-color: var(--clr-n8);
      content: ""; }
    .video__content__title {
      font-size: 1.75rem;
      font-weight: 900;
      line-height: 1.1; }
    .video__content__description {
      color: var(--clr-n2);
      line-height: 1.1;
      padding-block: 0.5rem; }
    .video__content a {
      width: auto;
      color: inherit;
      text-decoration: none; }
    .video__content__link {
      position: relative;
      margin-top: 0.5rem;
      padding: 0.5rem 0;
      color: var(--clr-n1); }
      .video__content__link > * {
        z-index: 10;
        position: relative; }
      .video__content__link::before {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 5rem;
        bottom: 0;
        left: -0.5rem;
        width: 0;
        border-radius: 4px;
        background-color: var(--clr-n2);
        content: "";
        transition: width 0.2s; }
      .video__content__link:hover {
        color: var(--clr-n8); }
        .video__content__link:hover::before {
          width: 115%; }

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem; }

.media-container {
  padding: 4.5rem 1rem;
  background: radial-gradient(circle at 100%, var(--clr-n0) 30%, var(--clr-n1) 100%);
  text-align: center; }
  .media-container p {
    max-width: 50ch;
    margin-bottom: 2rem;
    margin-inline: auto; }

.media-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  gap: 1.5rem; }
  .media-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.75rem;
    border-radius: 1rem;
    background-color: var(--clr-n8);
    font-size: 2rem;
    transition: rotate 0.2s, scale 0.2s; }
    .media-list__item:hover {
      rotate: 15deg;
      scale: 1.1; }
      .media-list__item:hover i {
        color: var(--clr-n8); }
    .media-list__item i {
      color: var(--clr-n1);
      line-height: 0; }

.input-group {
  display: flex;
  gap: 2rem; }

.contact-form-wrapper {
  background: radial-gradient(circle at 0% 0%, var(--clr-n1), var(--clr-n2)); }

.contact-form {
  max-width: 900px;
  padding: 4.5rem;
  margin-inline: auto; }
  .contact-form__content {
    text-align: center; }
    .contact-form__content h2 {
      margin-bottom: 1.5rem; }
  .contact-form__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .contact-form .btn--submit {
    display: flex;
    margin: 2rem auto 0; }

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem; }
  .input-container label {
    color: var(--clr-text-2);
    font-size: 1.25rem;
    transition: color 0.2s; }
  .input-container:focus-within label {
    color: var(--clr-secondary-light); }

.input-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4px;
  overflow: hidden; }
  .input-wrapper .input {
    z-index: 2;
    position: relative; }
  .input-wrapper::before {
    display: none;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 250%;
    background-color: var(--clr-secondary-main);
    animation: spin;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    content: "";
    translate: -50% -50%; }
  .input-wrapper:focus-within::before {
    display: block; }

.input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  outline: none;
  background: transparent;
  background-color: var(--clr-n8);
  transition: background-color 0.2s; }

@keyframes spin {
  0% {
    rotate: 0; }
  100% {
    rotate: 360deg; } }
textarea.input {
  min-height: 150px;
  vertical-align: top;
  resize: vertical; }

.icon--youtube:hover {
  background-color: #ff0000; }

.icon--facebook:hover {
  background-color: #1877f2; }

.icon--instagram:hover {
  background: linear-gradient(45deg, #ffc900, #d300c5); }

.icon--discord:hover {
  background-color: #5865f2; }

.icon--twitter:hover {
  background-color: #1d9bf0; }

.footer {
  padding: 4.5rem;
  background-color: var(--clr-n1); }
  .footer a {
    color: inherit;
    text-decoration: none; }
  .footer__row-1 {
    display: flex;
    justify-content: space-between; }
  .footer__media {
    display: flex;
    align-items: center;
    font-weight: normal;
    list-style: none;
    gap: 1.5rem; }
    .footer__media a {
      color: var(--clr-text-2); }
    .footer__media__icon {
      font-size: 1.5rem; }
      .footer__media__icon :hover {
        color: var(--clr-secondary-main); }
  .footer__row-2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: clamp(2rem, 20vw, 6rem); }
  .footer__links__header {
    font-size: 1.25rem; }
  .footer__links__list {
    padding-left: 0;
    list-style: none; }
    .footer__links__list__link + .footer__links__list__link {
      margin-top: 0.25rem; }
  .footer__row-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem; }
    .footer__row-3 p {
      font-size: 1rem; }

.underline-animation {
  position: relative; }
  .underline-animation::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--clr-secondary-main);
    content: "";
    transition: width 0.2s; }
  .underline-animation:hover::before {
    width: 100%; }

/*# sourceMappingURL=styles.css.map */
